avro==1.12.0
boto3==1.43.77
botocore==1.43.77
build==1.5.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.4.2
colorama==0.4.6
confluent-kafka==2.15.0
cryptography==50.0.0
fsspec==2025.10.0
furl==2.1.4
greenlet==3.5.5
grpcio==1.83.0
hopsworks==5.0.5
hopsworks-aiomysql==0.2.2
hopsworks-apigen==1.0.5
idna==3.19
javaobj-py3==0.6.1
jmespath==1.1.0
joblib==1.5.3
mock==5.2.0
narwhals==2.25.0
numpy==2.4.6
opensearch-py==2.4.2
orderedmultidict==1.0.2
packaging==26.3
pandas==2.3.3
protobuf==4.25.9
pyarrow==25.0.1
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodomex==3.23.0
pyhumps==1.6.1
pyjks==20.0.0
PyMySQL==1.2.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.3.post1
requests==2.34.2
retrying==1.4.2
s3transfer==0.19.2
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
SQLAlchemy==2.0.41
threadpoolctl==3.6.0
tomli_w==1.2.0
tqdm==4.70.0
twofish @ file:///D:/bld/twofish_1667112699190/work
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
